.aboutme{
       overflow: hidden;
 background-color: #0D012C;
 height: 42em;
}
.img{
    width: 40vw;;
}
.divde{
    font-family: poppins,sans-serif!important;
    padding: 90px 20px;
    color: white;
    display: flex;
    justify-content: space-around;
}
.texts{
    width: 40vw;
}
.aboutus{
    color: #59C378;
    font-weight: 550;
    font-size: 17px;
    padding: 20px 0px;
}
.whyhme{
    font-size: 28px;
    font-weight: 500;
    width: 30vw;
    padding: 5px 0px;
}
.dwncv{
     color : white;
        font-size: 12px;
        padding : 22px 40px;
        font-weight: 700;
    margin: 020px 0px;
    letter-spacing: 1.1px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #59C378;
    
}
.dis{
    color: rgba(255, 255, 255, 0.81);
    line-height: 150%;
    padding: 8px 0px;
    font-size: 15px;
}
@media (max-width: 767px) {
    .aboutme{
        height: 62.5em;
    }
    .divde{
        flex-direction: column;
    align-items: center;
    }
    .img{
        width: 200px;
    }
    .texts{
        width: 70vw;
    }
    .whyhme{
        width: 70vw;
    }

    
}