.bg{
    background-color: #110A3C;
    /* width: 100vw; */
    height: 40em;
    padding: 20px 5vw;
}
.soft{
    margin: 10px 0px;
    color: #DADC13;
font-weight: 500;
font-size: 14px;
font-family: Jost,sans-serif!important;
}
.hey{
    margin: 10px 0px;
    color: White;
    font-family: Jost,sans-serif!important;
    font-size: 40px;
    font-weight: 600;
}
.lak{
    font-family: Jost,sans-serif!important;
    margin : 10px 0px;
    background-image: linear-gradient(90deg, #DB4C63, #B069CF, #1DACD7); 
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    text-fill-color: transparent; 
    font-size: 50px;
    font-weight: 600;
}
.dis{
    color: rgba(255, 255, 255, 0.75);
    line-height: 150%;
    font-weight: 400;
    font-family: Jost,sans-serif!important;
    width: 50vw;
}
.hmelog {
    margin-left: 10px;
}
.hme{
    display: flex;
    padding: 20px 40px;
    background-image: linear-gradient(90deg, #DB4C63, #B069CF, #1DACD7); 
    color: #fff;
    font-size: 14px;
    border: none;
    margin:20px 0px ;
    font-family: poppins,sans-serif!important;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1.2px;
    
}
.flme{
    padding-top: 30px;
    padding-bottom: 15px;
    color: white;
}
.hme:hover{
    background-image: linear-gradient(90deg , #59C378 ,#59C378  ); 
    
}

.log{
   margin: 5px 10px 5px 0px;
    font-size: 25px;
    color: white;
    border: 2px solid #AA8589;
    border-radius: 100%;
    padding: 5px;
}
@media (max-width: 767px) {
    .bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .dis{
        padding: 20px;
        width: 70vw;
    }
    
}