.navbar{
    background-color: #0D012C;
    height: 05em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
.prodev{
    color: greenyellow;
    font-size: 20px;
}
.shme{
    display: initial;
}
.hdme{
    display: none;
}
.navs{
    display: flex;

}
.navicon{
    font-family: Share Tech Mono,monospace;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 0px 1.5vw;
    cursor: pointer ;
    text-decoration: none;
}

.ctnbtn{
    background-color: #59C378;
    padding: 15px 20px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    color: white;
}

.menu{
    display: none;
}
@media (max-width : 767px) {
    .navs{
        display: none;
    }
    .menu{
        display: initial;
        color: white;
        font-size: 32px;
        cursor: pointer;

    }
    
}