.skbg{
    
    color: white;
    background-color: #0D012C;
    margin: 0px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: poppins,sans-serif!important;
    
}
.bxshow{
    /* background-color: aqua; */
    padding-top: 30px ;
    margin-top: 20px;
    border: 2px dashed rgb(194, 194, 194);
    border-radius: 15px;
    padding-bottom: 50px;
    
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 80vw;

}
.myskil{
    color:#59C378 ;
font-size: 15px;
font-weight: 400;
}
.mysl{
    padding: 10px;
    font-size: 40px;
    color: white;
     font-size:45px;
    font-weight: 600;
    
}
.svicehd{
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0px;
    color: #59C378;
}
.hline{
    width: 0.05em;
    height: 200px;
    background-color: white;
}
.svice{
    color: rgb(190, 190, 190);  
    margin-top: 8px ;
}
.svice::before{ 
    margin-right: 10px;
    content: "\27A4"; 
} 
@media (max-width: 1100px) {
    .hline{
        /* display: none; */
        height: 2px;
        width: 50vw;
        margin: 10px 0px;  
    }
    .bxshow{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }
    .outrbox{
        width: 180px;
    }
    .svice{
        color: rgb(190, 190, 190);  
        margin-top: 8px ;
        margin-left: 10px;
    }
    
}