.skbg{
    color: white;
    background-color: #0D012C;

    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: poppins,sans-serif!important;

}
.myskil{
    color:#59C378 ;
font-size: 15px;
font-weight: 400;
}
.mysl{
    padding: 10px;
    font-size: 40px;
    color: white;
    font-weight: 520;
}
.crls{
    width:100%;
    margin: auto;
    color: white;
}
  
.bx{
    background-color: #14143A;
    height: 180px;
    width: 210px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;    
}
.bxshow{
    /* background-color: aqua; */
    padding-top: 30px ;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 92vw;

}
.lang{
    font-weight: 600;
    margin: 10px;
}
.skill {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px 20px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.lvl {
    color: #B0756A;
}

.int {
    color: #B76CAD;
}

.beg {
    color: #B8A46C;
}

.im{
    width: 100px;
    margin: 5px;
}


@media (max-width : 767px) {
    .bx{
        width: 70%;
        padding: 10px 0px ;
        margin: auto;

    }
    
}