.customdot {
    width: 25px;
    height: 5px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .myskil{
        font-family: poppins,sans-serif!important;

    color:#59C378 ;
font-size: 15px;
font-weight: 400;
}
.mysl{
      font-family: poppins,sans-serif!important;

    padding: 10px;
    font-size: 40px;
    color: white;
     font-size:45px;
    font-weight: 600;
    
}
  
  .customdot.active {
    background-color: #59C378;
  }
  
  .customdot.inactive {
    background-color: #D6D6D6;
  }
  .customdot:hover{
    background-color: #59C378;
  }
  
  .bgs{
    text-align: initial;
    background-color: #0D012C;
    color: white;
    flex-direction: column;
    display: flex ;
  justify-content: flex-start;
  align-items: center;
  
  height: 100%; 
  padding: 30px 20px; 
  }
  
  .bgs ul {
    text-align: start ;
  }
  .bx{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #14143A;
    margin: 20px;
    padding: 20px 35px;
    font-family: poppins,sans-serif!important;
    border-radius: 20px;
  }
  .bx:hover .im{
    transform: scale(1.065);
  }
  .bx:hover{
    border-bottom: none;
  }
  .im{
    object-fit: fill;
    background-color: rgb(116, 202, 255);
    transition-duration:  0.5s ;
    width: 100%;
    border-radius: 20px;
    height: 200px;
    margin: 20px 0px;
  }
  .head{
    font-weight: 800;
    color: #59C378;
    font-size: 18px;
    padding-bottom: 10px ;
  }
  .dis{
    height: 90px;
    font-size: 13px;
    line-height: 190%;
    color: #D6D6D6;
  }
  .code{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
  }

  .code div{
    display: flex;
    cursor: pointer;
    font-size: 12px;
    color: #d6d6d68b;
  }
  .icon{
    margin-right: 10px;
    font-size: 15px;
  }
  .langs{
    background-image: linear-gradient(90deg, #DB4C63, #B069CF, #1DACD7); 
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent;
    text-fill-color: transparent; 
    font-weight: 600;
    width: 200px;
    text-transform: uppercase;
    font-size: 11.5px;
    margin: 10px 0px;
  }